body {
    font: 400 14px/20px 'Source Sans Pro', sans-serif;
    padding: 90px 120px;
}

.card {
    position: relative;
}

.card .character {
    height: 345px;
    left: 33px;
    position: absolute;
    top: 58px;
    width: 269px;
}

#Cirno.card[data-rank='1'] .character {
    background-image: url(../pictures/Cards/Cirno/body_cirno1.png);
}

#Cirno.card[data-rank='2'] .character {
    background-image: url(../pictures/Cards/Cirno/body_cirno2.png);
}

#Cirno.card[data-rank='3'] .character {
    background-image: url(../pictures/Cards/Cirno/body_cirno3.png);
}

.card .casing {
    background-image: url(../pictures/Cards/body_template.png);
    height: 529px;
    left: 0;
    position: absolute;
    top: 0;
    width: 336px;
}

.card .badge {
    background-image: url(../pictures/Cards/body_head.png);
    height: 81px;
    left: 24px;
    position: absolute;
    top: 38px;
    width: 287px;
}

.card .rank {
    background-image: url(../pictures/Cards/icon_rank2.png);
    height: 19px;
    left: 44px;
    position: absolute;
    top: 127px;
    width: 19px;
}

.card .rank.rank-1 {
    background-image: url(../pictures/Cards/icon_rank1.png);
}

.card .rank.rank-2 {
    left: 66px;
}

.card .rank.rank-3 {
    left: 88px;
}

.card[data-rank='2'] .rank-2,
.card[data-rank='3'] .rank-2,
.card[data-rank='3'] .rank-3 {
    background-image: url(../pictures/Cards/icon_rank1.png);
}

.card .type {
    position: absolute;
}

.card.unique .type {
    background-image: url(../pictures/Cards/icon_unique.png);
    height: 78px;
    left: 13px;
    top: 38px;
    width: 99px;
}

.card.unique.leader .type {
    background-image: url(../pictures/Cards/icon_king.png);
    height: 77px;
    left: 14px;
    top: 34px;
    width: 94px;
}

.card .typeclass {
    color: #464646;
    font-size: 12px;
    left: 124px;
    line-height: 12px;
    position: absolute;
    top: 57px;
}

.card .name {
    color: #006bc5;
    font-size: 20px;
    left: 170px;
    line-height: 20px;
    position: absolute;
    text-shadow: 0 1px rgba(255,255,255,0.9);
    top: 53px;
}

.card .level {
    color: #c1da99;
    font-size: 44px;
    font-weight: 200;
    left: 43px;
    line-height: 44px;
    position: absolute;
    top: 404px;
}

.card .attributes {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    left: 146px;
    line-height: 20px;
    position: absolute;
    top: 416px;
}

.card .rating {
    background-image: url(../pictures/Cards/icon_rating.png);
    height: 20px;
    left: 33px;
    position: absolute;
    top: 460px;
}

.editor {
    background: #fffbeb;
    border: 1px solid #ff1493;
    left: 600px;
    padding: 30px 30px 20px;
    position: absolute;
    top: 100px;
}

.editor label {
    display: inline-block;
    margin-bottom: 10px;
    width: 100px;
}
