@-moz-keyframes blink {
    from {opacity: 1}
    to {opacity: 0}
}

@-webkit-keyframes blink {
    from {opacity: 1}
    to {opacity: 0}
}

body {
    background: #fbfbfb;
    font: 0.8125em/22px source-code-pro, monospace;
    margin: 0;
}

#game {
    background: #fff;
    box-shadow:
        0 1px rgb(225,225,225),
        0 2px rgb(215,215,215),
        0 3px rgb(205,205,205),
        0 4px rgb(195,195,195),
        0 5px rgb(185,185,185),
        0 0 5px rgba(0,0,0,0.1),
        0 1px 3px rgba(0,0,0,0.3),
        0 3px 5px rgba(0,0,0,0.2),
        0 5px 10px rgba(0,0,0,0.25),
        0 6px 1px rgba(0,0,0,0.1),
        0 10px 10px rgba(0,0,0,0.2),
        0 20px 20px rgba(0,0,0,0.1);
    height: 540px;
    margin: 40px auto;
    position: relative;
    width: 960px;
}

#todo {
    background: #404040;
    box-sizing: border-box;
    height: 540px;
    padding: 3px;
    position: absolute;
    right: 0;
    width: 320px;
}

.task {
    background: #f9f9f9;
    height: 48px;
    margin-bottom: 3px;
    padding: 4px 8px;
}

.task-danger {
    -moz-animation: blink 900ms cubic-bezier(1,0,0,1) infinite;
    -webkit-animation: blink 900ms cubic-bezier(1,0,0,1) infinite;
    background: #80ff00;
    height: 3px;
}

#term {
    background: #101010;
    color: #fff;
    position: absolute;
    text-shadow: 0 0 5px rgba(255,255,255,0.75);
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#term em {
    color: #fc0;
    font-style: normal;
    text-shadow: 0 0 5px rgba(255,204,0,0.75);
}

#term .caret {
    -moz-animation: blink 900ms cubic-bezier(1,0,0,1) infinite;
    -webkit-animation: blink 900ms cubic-bezier(1,0,0,1) infinite;
    background: #fff;
    box-shadow: 0 0 3px rgba(255,255,255,0.75);
    white-space: pre;
}
