body {
    margin: 20px 30px;
}

canvas {
    display: block;
}

#ninjacy {
    position: absolute;
    -moz-transform: translate3d(0, -100px, 0) scale3d(0.5, 0.5, 1);
    -moz-transform-origin: 0 0;
    -webkit-transform: translate3d(0, -100px, 0) scale3d(0.5, 0.5, 1);
    -webkit-transform-origin: 0 0;
    transform: translate3d(0, -100px, 0) scale3d(0.5, 0.5, 1);
    transform-origin: 0 0;
}

#jesusry {
    background: url('bar.png') no-repeat;
    color: #fff;
    font: 16px/20px 'Press Start 2P';
    list-style: none;
    margin: 0;
    padding: 0 0 0 300px;
}

#jesusry li {
    background: #0b0303;
    display: inline-block;
    padding: 20px;
    width: 290px;
}

body.loading canvas, body.loading #jesusry {
    visibility: hidden;
}

body.loading #msg-loading {
    display: block;
}

.message {
    background: #0b0303;
    color: #fff;
    display: none;
    font: 16px/20px 'Press Start 2P';
    left: 80px;
    padding: 120px;
    position: absolute;
    top: 60px;
}

.progress {
    border: 3px solid #fff;
    padding: 4px;
    white-space: pre;
}

.progress-bar {
    background: #fff;
}

#stats {
    left: 30px !important;
    top: 20px !important;
}
